* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Vazir;
    width: 300px;
    height: 300px;
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/Vazir/Vazir-Thin-WOL.eot") format("opentype"),
    url('../fonts/Vazir/Vazir-Thin-WOL.woff') format(woff),
    url('../fonts/Vazir/Vazir-Thin-WOL.woff2') format(woff2),
    ;
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/Vazir/Vazir-Light-WOL.eot") format("opentype"),
    url('../fonts/Vazir/Vazir-Light-WOL.woff') format(woff),
    url('../fonts/Vazir/Vazir-Light-WOL.woff2') format(woff2),
    ;
}


@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Vazir/Vazir-Regular-WOL.eot") format("opentype"),
    url('../fonts/Vazir/Vazir-Regular-WOL.woff') format(woff),
    url('../fonts/Vazir/Vazir-Regular-WOL.woff2') format(woff2),
    ;
}


@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Vazir/Vazir-Medium-WOL.eot") format("opentype"),
    url('../fonts/Vazir/Vazir-Medium-WOL.woff') format(woff),
    url('../fonts/Vazir/Vazir-Medium-WOL.woff2') format(woff2),
    ;
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Vazir/Vazir-Bold-WOL.eot") format("opentype"),
    url('../fonts/Vazir/Vazir-Bold-WOL.woff') format(woff),
    url('../fonts/Vazir/Vazir-Bold-WOL.woff2') format(woff2),
    ;
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Vazir/Vazir-Black-WOL.eot") format("opentype"),
    url('../fonts/Vazir/Vazir-Black-WOL.woff') format(woff),
    url('../fonts/Vazir/Vazir-Black-WOL.woff2') format(woff2),
    ;
}

.btn-container {
    display: flex;
    justify-content: center;
}

button {
    font-family: Vazir;
    border: none;
    color: #fff;
    border-radius: 12px;
    width: 95%;
    margin: 1rem auto;
    height: 40px;
    background-color: violet;
    cursor: pointer;
}

#tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tabs li {
    background-color: yellowgreen;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 0.75rem;
    list-style: none;
}