* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 500px;
    height: 500px;
    overflow-y: hidden;
    padding: 1.5rem;
    font-family: Sahel, sans-serif;
}


#get-color {
    background-color: rgb(0, 51, 255);
    padding: 12px;
    width: 100%;
    color: white;
    border: 0;
    font-family: Sahel, sans-serif;
    border-radius: 12px;
    position: sticky;
    top: 0;
}

#show-color {
    max-height: 400px;  /* ارتفاع ثابت برای لیست */
    overflow-y: auto;   /* فعال کردن اسکرول عمودی */
    padding: 0.5rem;
    list-style: none;
}

#show-color li {
    padding: 12px;
    border-radius: 12px;
    margin: 1rem 0;
}

#copiedMsg {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translateX(50%);
    color: white;
    background: chocolate;
    border-radius: 12px;
}

#copiedMsg span {
    padding: 12px;
}