* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: Vazir;
  background: url("../img/Evening\ .jpg");
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(24, 24, 24, 0.5);
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Vazir/Vazir-Thin-WOL.eot") format("opentype"),
    url("../fonts/Vazir/Vazir-Thin-WOL.woff") format(woff),
    url("../fonts/Vazir/Vazir-Thin-WOL.woff2") format(woff2);
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Vazir/Vazir-Light-WOL.eot") format("opentype"),
    url("../fonts/Vazir/Vazir-Light-WOL.woff") format(woff),
    url("../fonts/Vazir/Vazir-Light-WOL.woff2") format(woff2);
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Vazir/Vazir-Regular-WOL.eot") format("opentype"),
    url("../fonts/Vazir/Vazir-Regular-WOL.woff") format(woff),
    url("../fonts/Vazir/Vazir-Regular-WOL.woff2") format(woff2);
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Vazir/Vazir-Medium-WOL.eot") format("opentype"),
    url("../fonts/Vazir/Vazir-Medium-WOL.woff") format(woff),
    url("../fonts/Vazir/Vazir-Medium-WOL.woff2") format(woff2);
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Vazir/Vazir-Bold-WOL.eot") format("opentype"),
    url("../fonts/Vazir/Vazir-Bold-WOL.woff") format(woff),
    url("../fonts/Vazir/Vazir-Bold-WOL.woff2") format(woff2);
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Vazir/Vazir-Black-WOL.eot") format("opentype"),
    url("../fonts/Vazir/Vazir-Black-WOL.woff") format(woff),
    url("../fonts/Vazir/Vazir-Black-WOL.woff2") format(woff2);
}

.content {
  position: relative;
  z-index: 100;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content h1 {
  font-size: 6rem;
  color: white;
}

.search_container {
  background-color: rgba(24, 23, 23, 0.3);
  width: 100%;
  height: 65px;
  border-radius: 12px;
  border: 1px solid white;
  position: relative;
}

.search_container input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: 0;
  color: white;
  padding: 12px;
  font-size: 1.5rem;
  font-family: Vazir;
}

.search_container input::placeholder {
  color: white;
}

.search_container button {
  position: absolute;
  left: 10px;
  top: 24%;
  background-color: white;
  padding: 5px 18px;
  border: 0;
  border-radius: 8px;
  font-family: Vazir;
  cursor: pointer;
}

#message {
  margin: 2rem 0;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
}
